In [3]:
import pandas as pd

In [4]:
backtest_path='../../data/backtest/training/'
backtest_results_df=pd.read_csv('{}backtest_results.csv'.format(backtest_path))

In [5]:
#backtest_results_df.sort_values(by='PnL_final',inplace=True,ascending=False)
#print(backtest_results_df)

In [6]:
DOT_ALGO_backtest_df=backtest_results_df.loc[(backtest_results_df['chosen_symbol']=='DOTUSDT') &(backtest_results_df['compare_symbol']=='ALGOUSDT')]
ETH_ALGO_backtest_df=backtest_results_df.loc[(backtest_results_df['chosen_symbol']=='ETHUSDT') &(backtest_results_df['compare_symbol']=='ALGOUSDT')]
ADA_ALGO_backtest_df=backtest_results_df.loc[(backtest_results_df['chosen_symbol']=='ADAUSDT') &(backtest_results_df['compare_symbol']=='ALGOUSDT')]
AVAX_NEAR_backtest_df=backtest_results_df.loc[(backtest_results_df['chosen_symbol']=='AVAXUSDT') &(backtest_results_df['compare_symbol']=='NEARUSDT')]
ALGO_ATOM_backtest_df=backtest_results_df.loc[(backtest_results_df['chosen_symbol']=='ALGOUSDT') &(backtest_results_df['compare_symbol']=='ATOMUSDT')]
ETH_ADA_backtest_df=backtest_results_df.loc[(backtest_results_df['chosen_symbol']=='ETHUSDT') &(backtest_results_df['compare_symbol']=='ADAUSDT')]

In [7]:
DOT_ALGO_1h_backtest_df=DOT_ALGO_backtest_df.loc[DOT_ALGO_backtest_df['timeframe']=='1h']
DOT_ALGO_1h_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)
DOT_ALGO_1h_backtest_df.head(10)

/tmp/ipykernel_145357/2940955369.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DOT_ALGO_1h_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
14,DOTUSDT,ALGOUSDT,1h,3,0.0,4,25,1028.48
5,DOTUSDT,ALGOUSDT,1h,2,0.0,3,40,894.61
13,DOTUSDT,ALGOUSDT,1h,3,0.0,4,20,839.66
17,DOTUSDT,ALGOUSDT,1h,3,0.0,4,40,770.08
15,DOTUSDT,ALGOUSDT,1h,3,0.0,4,30,683.27
4,DOTUSDT,ALGOUSDT,1h,2,0.0,3,35,614.66
28,DOTUSDT,ALGOUSDT,1h,4,0.0,5,35,505.82
3,DOTUSDT,ALGOUSDT,1h,2,0.0,3,30,485.96
16,DOTUSDT,ALGOUSDT,1h,3,0.0,4,35,343.18
21,DOTUSDT,ALGOUSDT,1h,3,0.5,4,30,281.69

In [8]:
DOT_ALGO_1h_backtest_df.tail(10)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
0,DOTUSDT,ALGOUSDT,1h,2,0.0,3,15,-321.70
31,DOTUSDT,ALGOUSDT,1h,4,0.5,5,20,-322.25
20,DOTUSDT,ALGOUSDT,1h,3,0.5,4,25,-340.32
12,DOTUSDT,ALGOUSDT,1h,3,0.0,4,15,-345.56
18,DOTUSDT,ALGOUSDT,1h,3,0.5,4,15,-375.21
30,DOTUSDT,ALGOUSDT,1h,4,0.5,5,15,-399.83
7,DOTUSDT,ALGOUSDT,1h,2,0.5,3,20,-466.31
24,DOTUSDT,ALGOUSDT,1h,4,0.0,5,15,-513.88
1,DOTUSDT,ALGOUSDT,1h,2,0.0,3,20,-688.50
8,DOTUSDT,ALGOUSDT,1h,2,0.5,3,25,-707.86

In [9]:
DOT_ALGO_2h_backtest_df=DOT_ALGO_backtest_df.loc[DOT_ALGO_backtest_df['timeframe']=='2h']
DOT_ALGO_2h_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)
DOT_ALGO_2h_backtest_df.head(10)

/tmp/ipykernel_145357/2700262957.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DOT_ALGO_2h_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
58,DOTUSDT,ALGOUSDT,2h,3,0.5,4,35,2153.85
53,DOTUSDT,ALGOUSDT,2h,3,0.0,4,40,1752.26
57,DOTUSDT,ALGOUSDT,2h,3,0.5,4,30,1688.77
51,DOTUSDT,ALGOUSDT,2h,3,0.0,4,30,1393.71
52,DOTUSDT,ALGOUSDT,2h,3,0.0,4,35,1334.10
59,DOTUSDT,ALGOUSDT,2h,3,0.5,4,40,1056.08
62,DOTUSDT,ALGOUSDT,2h,4,0.0,5,25,802.46
68,DOTUSDT,ALGOUSDT,2h,4,0.5,5,25,679.30
70,DOTUSDT,ALGOUSDT,2h,4,0.5,5,35,537.30
56,DOTUSDT,ALGOUSDT,2h,3,0.5,4,25,479.45

In [10]:
DOT_ALGO_2h_backtest_df.tail(10)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
67,DOTUSDT,ALGOUSDT,2h,4,0.5,5,20,18.40
66,DOTUSDT,ALGOUSDT,2h,4,0.5,5,15,-16.77
60,DOTUSDT,ALGOUSDT,2h,4,0.0,5,15,-35.28
45,DOTUSDT,ALGOUSDT,2h,2,0.5,3,30,-39.18
39,DOTUSDT,ALGOUSDT,2h,2,0.0,3,30,-43.64
48,DOTUSDT,ALGOUSDT,2h,3,0.0,4,15,-62.46
40,DOTUSDT,ALGOUSDT,2h,2,0.0,3,35,-147.59
49,DOTUSDT,ALGOUSDT,2h,3,0.0,4,20,-155.30
44,DOTUSDT,ALGOUSDT,2h,2,0.5,3,25,-388.94
55,DOTUSDT,ALGOUSDT,2h,3,0.5,4,20,-408.16

In [11]:
DOT_ALGO_1d_backtest_df=DOT_ALGO_backtest_df.loc[DOT_ALGO_backtest_df['timeframe']=='1d']
DOT_ALGO_1d_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)
DOT_ALGO_1d_backtest_df.head(10)

/tmp/ipykernel_145357/469523510.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DOT_ALGO_1d_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
86,DOTUSDT,ALGOUSDT,1d,3,0.0,4,25,1595.14
87,DOTUSDT,ALGOUSDT,1d,3,0.0,4,30,1345.79
92,DOTUSDT,ALGOUSDT,1d,3,0.5,4,25,1169.08
93,DOTUSDT,ALGOUSDT,1d,3,0.5,4,30,1037.88
94,DOTUSDT,ALGOUSDT,1d,3,0.5,4,35,984.34
88,DOTUSDT,ALGOUSDT,1d,3,0.0,4,35,906.09
90,DOTUSDT,ALGOUSDT,1d,3,0.5,4,15,475.74
97,DOTUSDT,ALGOUSDT,1d,4,0.0,5,20,440.95
96,DOTUSDT,ALGOUSDT,1d,4,0.0,5,15,397.70
85,DOTUSDT,ALGOUSDT,1d,3,0.0,4,20,377.33

In [12]:
DOT_ALGO_1d_backtest_df.tail(10)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
106,DOTUSDT,ALGOUSDT,1d,4,0.5,5,35,-190.59
100,DOTUSDT,ALGOUSDT,1d,4,0.0,5,35,-190.59
81,DOTUSDT,ALGOUSDT,1d,2,0.5,3,30,-251.26
79,DOTUSDT,ALGOUSDT,1d,2,0.5,3,20,-431.12
76,DOTUSDT,ALGOUSDT,1d,2,0.0,3,35,-696.57
80,DOTUSDT,ALGOUSDT,1d,2,0.5,3,25,-765.20
75,DOTUSDT,ALGOUSDT,1d,2,0.0,3,30,-797.89
74,DOTUSDT,ALGOUSDT,1d,2,0.0,3,25,-1153.73
78,DOTUSDT,ALGOUSDT,1d,2,0.5,3,15,-1860.82
72,DOTUSDT,ALGOUSDT,1d,2,0.0,3,15,-2094.62

In [13]:
ETH_ALGO_1h_backtest_df=ETH_ALGO_backtest_df.loc[ETH_ALGO_backtest_df['timeframe']=='1h']
ETH_ALGO_1h_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)
ETH_ALGO_1h_backtest_df.head(10)

/tmp/ipykernel_145357/2248652680.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ETH_ALGO_1h_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
127,ETHUSDT,ALGOUSDT,1h,3,0.5,4,20,-80.79
108,ETHUSDT,ALGOUSDT,1h,2,0.0,3,15,-94.89
117,ETHUSDT,ALGOUSDT,1h,2,0.5,3,30,-123.25
114,ETHUSDT,ALGOUSDT,1h,2,0.5,3,15,-131.18
135,ETHUSDT,ALGOUSDT,1h,4,0.0,5,30,-182.55
122,ETHUSDT,ALGOUSDT,1h,3,0.0,4,25,-191.22
115,ETHUSDT,ALGOUSDT,1h,2,0.5,3,20,-213.03
109,ETHUSDT,ALGOUSDT,1h,2,0.0,3,20,-218.15
129,ETHUSDT,ALGOUSDT,1h,3,0.5,4,30,-220.78
128,ETHUSDT,ALGOUSDT,1h,3,0.5,4,25,-234.57

In [14]:
ETH_ALGO_1h_backtest_df.tail(10)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
126,ETHUSDT,ALGOUSDT,1h,3,0.5,4,15,-449.21
124,ETHUSDT,ALGOUSDT,1h,3,0.0,4,35,-451.35
119,ETHUSDT,ALGOUSDT,1h,2,0.5,3,40,-464.96
137,ETHUSDT,ALGOUSDT,1h,4,0.0,5,40,-474.17
112,ETHUSDT,ALGOUSDT,1h,2,0.0,3,35,-476.40
130,ETHUSDT,ALGOUSDT,1h,3,0.5,4,35,-481.06
139,ETHUSDT,ALGOUSDT,1h,4,0.5,5,20,-483.80
138,ETHUSDT,ALGOUSDT,1h,4,0.5,5,15,-496.79
113,ETHUSDT,ALGOUSDT,1h,2,0.0,3,40,-600.89
132,ETHUSDT,ALGOUSDT,1h,4,0.0,5,15,-627.23

In [15]:
ETH_ALGO_2h_backtest_df=ETH_ALGO_backtest_df.loc[ETH_ALGO_backtest_df['timeframe']=='2h']
ETH_ALGO_2h_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)
ETH_ALGO_2h_backtest_df.head(10)

/tmp/ipykernel_145357/1853745195.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ETH_ALGO_2h_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
494,ETHUSDT,ALGOUSDT,2h,4,0.0,5,25,32.82
496,ETHUSDT,ALGOUSDT,2h,4,0.0,5,35,32.46
474,ETHUSDT,ALGOUSDT,2h,2,0.5,3,15,-35.69
502,ETHUSDT,ALGOUSDT,2h,4,0.5,5,35,-76.28
499,ETHUSDT,ALGOUSDT,2h,4,0.5,5,20,-86.08
493,ETHUSDT,ALGOUSDT,2h,4,0.0,5,20,-188.83
497,ETHUSDT,ALGOUSDT,2h,4,0.0,5,40,-190.49
500,ETHUSDT,ALGOUSDT,2h,4,0.5,5,25,-238.86
468,ETHUSDT,ALGOUSDT,2h,2,0.0,3,15,-252.24
492,ETHUSDT,ALGOUSDT,2h,4,0.0,5,15,-260.99

In [16]:
ETH_ALGO_1d_backtest_df=ETH_ALGO_backtest_df.loc[ETH_ALGO_backtest_df['timeframe']=='1d']
ETH_ALGO_1d_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)
ETH_ALGO_1d_backtest_df.head(10)

/tmp/ipykernel_145357/352191571.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ETH_ALGO_1d_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
413,ETHUSDT,ALGOUSDT,1d,3,0.0,4,40,1308.57
419,ETHUSDT,ALGOUSDT,1d,3,0.5,4,40,1229.54
412,ETHUSDT,ALGOUSDT,1d,3,0.0,4,35,1058.29
424,ETHUSDT,ALGOUSDT,1d,4,0.0,5,35,672.04
423,ETHUSDT,ALGOUSDT,1d,4,0.0,5,30,638.58
418,ETHUSDT,ALGOUSDT,1d,3,0.5,4,35,605.05
429,ETHUSDT,ALGOUSDT,1d,4,0.5,5,30,501.65
430,ETHUSDT,ALGOUSDT,1d,4,0.5,5,35,497.22
422,ETHUSDT,ALGOUSDT,1d,4,0.0,5,25,468.37
421,ETHUSDT,ALGOUSDT,1d,4,0.0,5,20,397.55

In [17]:
ETH_ALGO_1d_backtest_df.tail(10)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
408,ETHUSDT,ALGOUSDT,1d,3,0.0,4,15,-220.56
406,ETHUSDT,ALGOUSDT,1d,2,0.5,3,35,-292.36
401,ETHUSDT,ALGOUSDT,1d,2,0.0,3,40,-296.91
407,ETHUSDT,ALGOUSDT,1d,2,0.5,3,40,-314.44
398,ETHUSDT,ALGOUSDT,1d,2,0.0,3,25,-358.68
397,ETHUSDT,ALGOUSDT,1d,2,0.0,3,20,-381.74
405,ETHUSDT,ALGOUSDT,1d,2,0.5,3,30,-408.39
404,ETHUSDT,ALGOUSDT,1d,2,0.5,3,25,-518.44
402,ETHUSDT,ALGOUSDT,1d,2,0.5,3,15,-689.92
396,ETHUSDT,ALGOUSDT,1d,2,0.0,3,15,-882.53

In [18]:
ADA_ALGO_1h_backtest_df=ADA_ALGO_backtest_df.loc[ADA_ALGO_backtest_df['timeframe']=='1h']
ADA_ALGO_1h_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)
ADA_ALGO_1h_backtest_df.head(10)

/tmp/ipykernel_145357/1410303546.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ADA_ALGO_1h_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
241,ADAUSDT,ALGOUSDT,1h,4,0.0,5,20,-261.36
222,ADAUSDT,ALGOUSDT,1h,2,0.5,3,15,-278.75
247,ADAUSDT,ALGOUSDT,1h,4,0.5,5,20,-282.04
242,ADAUSDT,ALGOUSDT,1h,4,0.0,5,25,-321.62
246,ADAUSDT,ALGOUSDT,1h,4,0.5,5,15,-337.63
245,ADAUSDT,ALGOUSDT,1h,4,0.0,5,40,-361.20
229,ADAUSDT,ALGOUSDT,1h,3,0.0,4,20,-366.18
235,ADAUSDT,ALGOUSDT,1h,3,0.5,4,20,-376.04
234,ADAUSDT,ALGOUSDT,1h,3,0.5,4,15,-381.82
228,ADAUSDT,ALGOUSDT,1h,3,0.0,4,15,-400.38

In [19]:
ADA_ALGO_1h_backtest_df.tail(10)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
237,ADAUSDT,ALGOUSDT,1h,3,0.5,4,30,-584.12
249,ADAUSDT,ALGOUSDT,1h,4,0.5,5,30,-589.85
218,ADAUSDT,ALGOUSDT,1h,2,0.0,3,25,-597.53
226,ADAUSDT,ALGOUSDT,1h,2,0.5,3,35,-609.84
227,ADAUSDT,ALGOUSDT,1h,2,0.5,3,40,-632.21
221,ADAUSDT,ALGOUSDT,1h,2,0.0,3,40,-654.46
238,ADAUSDT,ALGOUSDT,1h,3,0.5,4,35,-661.39
233,ADAUSDT,ALGOUSDT,1h,3,0.0,4,40,-667.90
239,ADAUSDT,ALGOUSDT,1h,3,0.5,4,40,-676.52
230,ADAUSDT,ALGOUSDT,1h,3,0.0,4,25,-717.95

In [20]:
ADA_ALGO_2h_backtest_df=ADA_ALGO_backtest_df.loc[ADA_ALGO_backtest_df['timeframe']=='2h']
ADA_ALGO_2h_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)
ADA_ALGO_2h_backtest_df.head(10)

/tmp/ipykernel_145357/2359734169.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ADA_ALGO_2h_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
276,ADAUSDT,ALGOUSDT,2h,4,0.0,5,15,-46.92
280,ADAUSDT,ALGOUSDT,2h,4,0.0,5,35,-63.46
263,ADAUSDT,ALGOUSDT,2h,2,0.5,3,40,-91.41
286,ADAUSDT,ALGOUSDT,2h,4,0.5,5,35,-132.77
279,ADAUSDT,ALGOUSDT,2h,4,0.0,5,30,-144.31
277,ADAUSDT,ALGOUSDT,2h,4,0.0,5,20,-189.52
278,ADAUSDT,ALGOUSDT,2h,4,0.0,5,25,-218.63
285,ADAUSDT,ALGOUSDT,2h,4,0.5,5,30,-238.53
283,ADAUSDT,ALGOUSDT,2h,4,0.5,5,20,-275.14
284,ADAUSDT,ALGOUSDT,2h,4,0.5,5,25,-280.25

In [21]:
ADA_ALGO_1d_backtest_df=ADA_ALGO_backtest_df.loc[ADA_ALGO_backtest_df['timeframe']=='1d']
ADA_ALGO_1d_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)
ADA_ALGO_1d_backtest_df.head(10)

/tmp/ipykernel_145357/515204267.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ADA_ALGO_1d_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
195,ADAUSDT,ALGOUSDT,1d,3,0.0,4,30,2206.77
203,ADAUSDT,ALGOUSDT,1d,3,0.5,4,40,1293.07
202,ADAUSDT,ALGOUSDT,1d,3,0.5,4,35,1276.60
201,ADAUSDT,ALGOUSDT,1d,3,0.5,4,30,1177.80
197,ADAUSDT,ALGOUSDT,1d,3,0.0,4,40,968.28
196,ADAUSDT,ALGOUSDT,1d,3,0.0,4,35,921.16
205,ADAUSDT,ALGOUSDT,1d,4,0.0,5,20,785.13
194,ADAUSDT,ALGOUSDT,1d,3,0.0,4,25,661.77
206,ADAUSDT,ALGOUSDT,1d,4,0.0,5,25,538.05
200,ADAUSDT,ALGOUSDT,1d,3,0.5,4,25,464.82

In [22]:

ADA_ALGO_1d_backtest_df.tail(10)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
190,ADAUSDT,ALGOUSDT,1d,2,0.5,3,35,-309.99
184,ADAUSDT,ALGOUSDT,1d,2,0.0,3,35,-391.88
189,ADAUSDT,ALGOUSDT,1d,2,0.5,3,30,-429.58
188,ADAUSDT,ALGOUSDT,1d,2,0.5,3,25,-528.09
187,ADAUSDT,ALGOUSDT,1d,2,0.5,3,20,-590.49
198,ADAUSDT,ALGOUSDT,1d,3,0.5,4,15,-617.01
181,ADAUSDT,ALGOUSDT,1d,2,0.0,3,20,-726.33
192,ADAUSDT,ALGOUSDT,1d,3,0.0,4,15,-792.87
186,ADAUSDT,ALGOUSDT,1d,2,0.5,3,15,-896.28
180,ADAUSDT,ALGOUSDT,1d,2,0.0,3,15,-1020.85

In [23]:
AVAX_NEAR_1h_backtest_df=AVAX_NEAR_backtest_df.loc[AVAX_NEAR_backtest_df['timeframe']=='1h']
AVAX_NEAR_1h_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)
AVAX_NEAR_1h_backtest_df.head(10)

/tmp/ipykernel_145357/1092648475.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AVAX_NEAR_1h_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
329,AVAXUSDT,NEARUSDT,1h,2,0.0,3,40,768.44
328,AVAXUSDT,NEARUSDT,1h,2,0.0,3,35,559.63
353,AVAXUSDT,NEARUSDT,1h,4,0.0,5,40,405.33
352,AVAXUSDT,NEARUSDT,1h,4,0.0,5,35,354.06
359,AVAXUSDT,NEARUSDT,1h,4,0.5,5,40,173.75
327,AVAXUSDT,NEARUSDT,1h,2,0.0,3,30,71.09
358,AVAXUSDT,NEARUSDT,1h,4,0.5,5,35,52.88
341,AVAXUSDT,NEARUSDT,1h,3,0.0,4,40,35.02
350,AVAXUSDT,NEARUSDT,1h,4,0.0,5,25,6.30
348,AVAXUSDT,NEARUSDT,1h,4,0.0,5,15,-48.88

In [24]:
(AVAX_NEAR_1h_backtest_df.tail(10))

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
333,AVAXUSDT,NEARUSDT,1h,2,0.5,3,30,-522.81
331,AVAXUSDT,NEARUSDT,1h,2,0.5,3,20,-527.80
342,AVAXUSDT,NEARUSDT,1h,3,0.5,4,15,-576.08
332,AVAXUSDT,NEARUSDT,1h,2,0.5,3,25,-589.52
345,AVAXUSDT,NEARUSDT,1h,3,0.5,4,30,-608.71
324,AVAXUSDT,NEARUSDT,1h,2,0.0,3,15,-618.61
337,AVAXUSDT,NEARUSDT,1h,3,0.0,4,20,-686.66
344,AVAXUSDT,NEARUSDT,1h,3,0.5,4,25,-731.90
330,AVAXUSDT,NEARUSDT,1h,2,0.5,3,15,-761.94
343,AVAXUSDT,NEARUSDT,1h,3,0.5,4,20,-897.17

In [25]:
AVAX_NEAR_2h_backtest_df=AVAX_NEAR_backtest_df.loc[AVAX_NEAR_backtest_df['timeframe']=='2h']
AVAX_NEAR_2h_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)
(AVAX_NEAR_2h_backtest_df.head(10))

/tmp/ipykernel_145357/4117642658.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AVAX_NEAR_2h_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
148,AVAXUSDT,NEARUSDT,2h,2,0.0,3,35,2373.30
154,AVAXUSDT,NEARUSDT,2h,2,0.5,3,35,1253.70
155,AVAXUSDT,NEARUSDT,2h,2,0.5,3,40,1218.94
147,AVAXUSDT,NEARUSDT,2h,2,0.0,3,30,851.97
166,AVAXUSDT,NEARUSDT,2h,3,0.5,4,35,584.93
146,AVAXUSDT,NEARUSDT,2h,2,0.0,3,25,478.30
153,AVAXUSDT,NEARUSDT,2h,2,0.5,3,30,431.28
172,AVAXUSDT,NEARUSDT,2h,4,0.0,5,35,327.02
160,AVAXUSDT,NEARUSDT,2h,3,0.0,4,35,312.10
149,AVAXUSDT,NEARUSDT,2h,2,0.0,3,40,270.49

In [26]:
(AVAX_NEAR_2h_backtest_df.tail(10))

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
178,AVAXUSDT,NEARUSDT,2h,4,0.5,5,35,-247.93
177,AVAXUSDT,NEARUSDT,2h,4,0.5,5,30,-284.52
144,AVAXUSDT,NEARUSDT,2h,2,0.0,3,15,-374.66
174,AVAXUSDT,NEARUSDT,2h,4,0.5,5,15,-388.42
163,AVAXUSDT,NEARUSDT,2h,3,0.5,4,20,-530.55
156,AVAXUSDT,NEARUSDT,2h,3,0.0,4,15,-532.76
151,AVAXUSDT,NEARUSDT,2h,2,0.5,3,20,-542.79
170,AVAXUSDT,NEARUSDT,2h,4,0.0,5,25,-597.48
150,AVAXUSDT,NEARUSDT,2h,2,0.5,3,15,-642.29
162,AVAXUSDT,NEARUSDT,2h,3,0.5,4,15,-689.32

In [27]:
AVAX_NEAR_1d_backtest_df=AVAX_NEAR_backtest_df.loc[AVAX_NEAR_backtest_df['timeframe']=='1d']
AVAX_NEAR_1d_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)
(AVAX_NEAR_1d_backtest_df.head(10))

/tmp/ipykernel_145357/3341669124.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AVAX_NEAR_1d_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
305,AVAXUSDT,NEARUSDT,1d,3,0.0,4,40,3112.04
304,AVAXUSDT,NEARUSDT,1d,3,0.0,4,35,2729.59
311,AVAXUSDT,NEARUSDT,1d,3,0.5,4,40,2560.12
296,AVAXUSDT,NEARUSDT,1d,2,0.5,3,25,1482.52
310,AVAXUSDT,NEARUSDT,1d,3,0.5,4,35,1255.59
316,AVAXUSDT,NEARUSDT,1d,4,0.0,5,35,1229.20
315,AVAXUSDT,NEARUSDT,1d,4,0.0,5,30,1229.20
307,AVAXUSDT,NEARUSDT,1d,3,0.5,4,20,885.08
308,AVAXUSDT,NEARUSDT,1d,3,0.5,4,25,878.05
321,AVAXUSDT,NEARUSDT,1d,4,0.5,5,30,643.92

In [28]:
(AVAX_NEAR_1d_backtest_df.tail(10))

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
300,AVAXUSDT,NEARUSDT,1d,3,0.0,4,15,-647.81
295,AVAXUSDT,NEARUSDT,1d,2,0.5,3,20,-651.19
289,AVAXUSDT,NEARUSDT,1d,2,0.0,3,20,-1621.55
291,AVAXUSDT,NEARUSDT,1d,2,0.0,3,30,-2736.80
301,AVAXUSDT,NEARUSDT,1d,3,0.0,4,20,-2987.03
302,AVAXUSDT,NEARUSDT,1d,3,0.0,4,25,-3348.37
298,AVAXUSDT,NEARUSDT,1d,2,0.5,3,35,-5082.47
299,AVAXUSDT,NEARUSDT,1d,2,0.5,3,40,-8990.41
293,AVAXUSDT,NEARUSDT,1d,2,0.0,3,40,-10862.15
292,AVAXUSDT,NEARUSDT,1d,2,0.0,3,35,-11240.43

In [29]:
ALGO_ATOM_1h_backtest_df=ALGO_ATOM_backtest_df.loc[ALGO_ATOM_backtest_df['timeframe']=='1h']
ALGO_ATOM_1h_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)
(ALGO_ATOM_1h_backtest_df.head(10))

/tmp/ipykernel_145357/2117090004.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ALGO_ATOM_1h_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
438,ALGOUSDT,ATOMUSDT,1h,2,0.5,3,15,892.94
447,ALGOUSDT,ATOMUSDT,1h,3,0.0,4,30,772.03
441,ALGOUSDT,ATOMUSDT,1h,2,0.5,3,30,756.39
448,ALGOUSDT,ATOMUSDT,1h,3,0.0,4,35,595.93
435,ALGOUSDT,ATOMUSDT,1h,2,0.0,3,30,583.70
450,ALGOUSDT,ATOMUSDT,1h,3,0.5,4,15,556.24
453,ALGOUSDT,ATOMUSDT,1h,3,0.5,4,30,415.23
434,ALGOUSDT,ATOMUSDT,1h,2,0.0,3,25,239.97
440,ALGOUSDT,ATOMUSDT,1h,2,0.5,3,25,238.39
449,ALGOUSDT,ATOMUSDT,1h,3,0.0,4,40,236.91

In [30]:
ALGO_ATOM_1h_backtest_df.tail(10)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
467,ALGOUSDT,ATOMUSDT,1h,4,0.5,5,40,-138.28
433,ALGOUSDT,ATOMUSDT,1h,2,0.0,3,20,-166.53
458,ALGOUSDT,ATOMUSDT,1h,4,0.0,5,25,-244.80
437,ALGOUSDT,ATOMUSDT,1h,2,0.0,3,40,-254.87
462,ALGOUSDT,ATOMUSDT,1h,4,0.5,5,15,-307.67
464,ALGOUSDT,ATOMUSDT,1h,4,0.5,5,25,-353.21
465,ALGOUSDT,ATOMUSDT,1h,4,0.5,5,30,-385.79
457,ALGOUSDT,ATOMUSDT,1h,4,0.0,5,20,-610.24
463,ALGOUSDT,ATOMUSDT,1h,4,0.5,5,20,-650.07
456,ALGOUSDT,ATOMUSDT,1h,4,0.0,5,15,-650.11

In [31]:
ALGO_ATOM_2h_backtest_df=ALGO_ATOM_backtest_df.loc[ALGO_ATOM_backtest_df['timeframe']=='2h']
ALGO_ATOM_2h_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)
ALGO_ATOM_2h_backtest_df.head(10)

/tmp/ipykernel_145357/562027606.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ALGO_ATOM_2h_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
388,ALGOUSDT,ATOMUSDT,2h,4,0.0,5,35,939.10
377,ALGOUSDT,ATOMUSDT,2h,3,0.0,4,40,790.12
387,ALGOUSDT,ATOMUSDT,2h,4,0.0,5,30,646.86
389,ALGOUSDT,ATOMUSDT,2h,4,0.0,5,40,565.19
394,ALGOUSDT,ATOMUSDT,2h,4,0.5,5,35,456.57
383,ALGOUSDT,ATOMUSDT,2h,3,0.5,4,40,455.39
363,ALGOUSDT,ATOMUSDT,2h,2,0.0,3,30,430.99
393,ALGOUSDT,ATOMUSDT,2h,4,0.5,5,30,398.86
395,ALGOUSDT,ATOMUSDT,2h,4,0.5,5,40,359.29
366,ALGOUSDT,ATOMUSDT,2h,2,0.5,3,15,130.18

In [32]:
ALGO_ATOM_2h_backtest_df.tail(10)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
381,ALGOUSDT,ATOMUSDT,2h,3,0.5,4,30,-239.50
373,ALGOUSDT,ATOMUSDT,2h,3,0.0,4,20,-240.73
380,ALGOUSDT,ATOMUSDT,2h,3,0.5,4,25,-294.32
379,ALGOUSDT,ATOMUSDT,2h,3,0.5,4,20,-342.54
372,ALGOUSDT,ATOMUSDT,2h,3,0.0,4,15,-358.30
384,ALGOUSDT,ATOMUSDT,2h,4,0.0,5,15,-478.59
367,ALGOUSDT,ATOMUSDT,2h,2,0.5,3,20,-578.79
390,ALGOUSDT,ATOMUSDT,2h,4,0.5,5,15,-604.81
378,ALGOUSDT,ATOMUSDT,2h,3,0.5,4,15,-662.45
368,ALGOUSDT,ATOMUSDT,2h,2,0.5,3,25,-766.86

In [33]:
ALGO_ATOM_1d_backtest_df=ALGO_ATOM_backtest_df.loc[ALGO_ATOM_backtest_df['timeframe']=='1d']
ALGO_ATOM_1d_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)
ALGO_ATOM_1d_backtest_df.head(10)

/tmp/ipykernel_145357/3371818619.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ALGO_ATOM_1d_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
627,ALGOUSDT,ATOMUSDT,1d,3,0.0,4,30,963.76
633,ALGOUSDT,ATOMUSDT,1d,3,0.5,4,30,491.46
620,ALGOUSDT,ATOMUSDT,1d,2,0.5,3,25,491.12
624,ALGOUSDT,ATOMUSDT,1d,3,0.0,4,15,320.00
614,ALGOUSDT,ATOMUSDT,1d,2,0.0,3,25,313.27
629,ALGOUSDT,ATOMUSDT,1d,3,0.0,4,40,303.19
635,ALGOUSDT,ATOMUSDT,1d,3,0.5,4,40,243.56
630,ALGOUSDT,ATOMUSDT,1d,3,0.5,4,15,129.39
631,ALGOUSDT,ATOMUSDT,1d,3,0.5,4,20,93.85
638,ALGOUSDT,ATOMUSDT,1d,4,0.0,5,25,61.03

In [34]:
ALGO_ATOM_1d_backtest_df.tail(10)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
643,ALGOUSDT,ATOMUSDT,1d,4,0.5,5,20,-321.90
623,ALGOUSDT,ATOMUSDT,1d,2,0.5,3,40,-388.52
632,ALGOUSDT,ATOMUSDT,1d,3,0.5,4,25,-406.13
622,ALGOUSDT,ATOMUSDT,1d,2,0.5,3,35,-471.07
619,ALGOUSDT,ATOMUSDT,1d,2,0.5,3,20,-723.39
616,ALGOUSDT,ATOMUSDT,1d,2,0.0,3,35,-950.70
615,ALGOUSDT,ATOMUSDT,1d,2,0.0,3,30,-991.21
617,ALGOUSDT,ATOMUSDT,1d,2,0.0,3,40,-1041.42
618,ALGOUSDT,ATOMUSDT,1d,2,0.5,3,15,-1269.26
612,ALGOUSDT,ATOMUSDT,1d,2,0.0,3,15,-1300.96

In [35]:
ETH_ADA_1h_backtest_df=ETH_ADA_backtest_df.loc[ETH_ADA_backtest_df['timeframe']=='1h']
ETH_ADA_1h_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)
ETH_ADA_1h_backtest_df.head(10)
ETH_ADA_backtest_df

/tmp/ipykernel_145357/2967674983.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ETH_ADA_1h_backtest_df.sort_values(by='PnL_final',inplace=True,ascending=False)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
576,ETHUSDT,ADAUSDT,2h,2,0.0,3,15,-697.67
577,ETHUSDT,ADAUSDT,2h,2,0.0,3,20,-708.91
578,ETHUSDT,ADAUSDT,2h,2,0.0,3,25,-882.29
579,ETHUSDT,ADAUSDT,2h,2,0.0,3,30,-821.68
580,ETHUSDT,ADAUSDT,2h,2,0.0,3,35,-911.43
581,ETHUSDT,ADAUSDT,2h,2,0.0,3,40,-938.54
582,ETHUSDT,ADAUSDT,2h,2,0.5,3,15,-475.30
583,ETHUSDT,ADAUSDT,2h,2,0.5,3,20,-625.74
584,ETHUSDT,ADAUSDT,2h,2,0.5,3,25,-631.39
585,ETHUSDT,ADAUSDT,2h,2,0.5,3,30,-751.63
586,ETHUSDT,ADAUSDT,2h,2,0.5,3,35,-832.16
587,ETHUSDT,ADAUSDT,2h,2,0.5,3,40,-875.91
588,ETHUSDT,ADAUSDT,2h,3,0.0,4,15,-443.88
589,ETHUSDT,ADAUSDT,2h,3,0.0,4,20,-504.35
590,ETHUSDT,ADAUSDT,2h,3,0.0,4,25,-790.29
591,ETHUSDT,ADAUSDT,2h,3,0.0,4,30,-567.62
592,ETHUSDT,ADAUSDT,2h,3,0.0,4,35,-756.00
593,ETHUSDT,ADAUSDT,2h,3,0.0,4,40,-354.13
594,ETHUSDT,ADAUSDT,2h,3,0.5,4,15,-413.71
595,ETHUSDT,ADAUSDT,2h,3,0.5,4,20,-153.05
596,ETHUSDT,ADAUSDT,2h,3,0.5,4,25,-535.16
597,ETHUSDT,ADAUSDT,2h,3,0.5,4,30,-471.97
598,ETHUSDT,ADAUSDT,2h,3,0.5,4,35,-808.78
599,ETHUSDT,ADAUSDT,2h,3,0.5,4,40,-714.72
600,ETHUSDT,ADAUSDT,2h,4,0.0,5,15,233.17
601,ETHUSDT,ADAUSDT,2h,4,0.0,5,20,-432.59
602,ETHUSDT,ADAUSDT,2h,4,0.0,5,25,-740.57
603,ETHUSDT,ADAUSDT,2h,4,0.0,5,30,-174.91
604,ETHUSDT,ADAUSDT,2h,4,0.0,5,35,-490.40
605,ETHUSDT,ADAUSDT,2h,4,0.0,5,40,-444.63
606,ETHUSDT,ADAUSDT,2h,4,0.5,5,15,-150.24
607,ETHUSDT,ADAUSDT,2h,4,0.5,5,20,118.71
608,ETHUSDT,ADAUSDT,2h,4,0.5,5,25,-263.00
609,ETHUSDT,ADAUSDT,2h,4,0.5,5,30,-277.12
610,ETHUSDT,ADAUSDT,2h,4,0.5,5,35,-105.42
611,ETHUSDT,ADAUSDT,2h,4,0.5,5,40,-336.24