In [1]:
import pandas as pd

In [2]:
backtest_path='../../../data/backtest/training/'
backtest_results_df=pd.read_csv('{}backtest_training_2h.csv'.format(backtest_path))

In [3]:
backtest_results_df.sort_values(by='PnL_final',inplace=True,ascending=False)
backtest_results_df

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
118,AVAXUSDT,NEARUSDT,2h,2,0.5,3,50,3167.45
22,DOTUSDT,ALGOUSDT,2h,3,0.5,4,50,2441.05
23,DOTUSDT,ALGOUSDT,2h,3,0.5,4,60,1956.99
15,DOTUSDT,ALGOUSDT,2h,3,0.0,4,40,1752.26
20,DOTUSDT,ALGOUSDT,2h,3,0.5,4,30,1688.77
...,...,...,...,...,...,...,...,...
227,ETHUSDT,ADAUSDT,2h,2,0.5,3,60,-928.93
219,ETHUSDT,ADAUSDT,2h,2,0.0,3,40,-938.52
156,ALGOUSDT,ATOMUSDT,2h,3,0.0,4,10,-944.24
221,ETHUSDT,ADAUSDT,2h,2,0.0,3,60,-1069.59
5,DOTUSDT,ALGOUSDT,2h,2,0.0,3,60,-1392.90

In [4]:
DOT_ALGO_backtest_df=backtest_results_df.loc[(backtest_results_df['chosen_symbol']=='DOTUSDT') &(backtest_results_df['compare_symbol']=='ALGOUSDT')]
ETH_ALGO_backtest_df=backtest_results_df.loc[(backtest_results_df['chosen_symbol']=='ETHUSDT') &(backtest_results_df['compare_symbol']=='ALGOUSDT')]
ADA_ALGO_backtest_df=backtest_results_df.loc[(backtest_results_df['chosen_symbol']=='ADAUSDT') &(backtest_results_df['compare_symbol']=='ALGOUSDT')]
AVAX_NEAR_backtest_df=backtest_results_df.loc[(backtest_results_df['chosen_symbol']=='AVAXUSDT') &(backtest_results_df['compare_symbol']=='NEARUSDT')]
ALGO_ATOM_backtest_df=backtest_results_df.loc[(backtest_results_df['chosen_symbol']=='ALGOUSDT') &(backtest_results_df['compare_symbol']=='ATOMUSDT')]
BNB_ALGO_backtest_df=backtest_results_df.loc[(backtest_results_df['chosen_symbol']=='BNBUSDT') &(backtest_results_df['compare_symbol']=='ALGOUSDT')]
ETH_ADA_backtest_df=backtest_results_df.loc[(backtest_results_df['chosen_symbol']=='ETHUSDT') &(backtest_results_df['compare_symbol']=='ADAUSDT')]

In [5]:
DOT_ALGO_backtest_df.head(10)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
22,DOTUSDT,ALGOUSDT,2h,3,0.5,4,50,2441.05
23,DOTUSDT,ALGOUSDT,2h,3,0.5,4,60,1956.99
15,DOTUSDT,ALGOUSDT,2h,3,0.0,4,40,1752.26
20,DOTUSDT,ALGOUSDT,2h,3,0.5,4,30,1688.77
14,DOTUSDT,ALGOUSDT,2h,3,0.0,4,30,1393.71
21,DOTUSDT,ALGOUSDT,2h,3,0.5,4,40,1056.08
16,DOTUSDT,ALGOUSDT,2h,3,0.0,4,50,697.62
29,DOTUSDT,ALGOUSDT,2h,4,0.0,5,60,646.47
35,DOTUSDT,ALGOUSDT,2h,4,0.5,5,60,618.06
33,DOTUSDT,ALGOUSDT,2h,4,0.5,5,40,455.05

In [6]:
DOT_ALGO_backtest_df.tail(10)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
13,DOTUSDT,ALGOUSDT,2h,3,0.0,4,20,-155.30
12,DOTUSDT,ALGOUSDT,2h,3,0.0,4,10,-162.98
24,DOTUSDT,ALGOUSDT,2h,4,0.0,5,10,-323.30
4,DOTUSDT,ALGOUSDT,2h,2,0.0,3,50,-369.41
19,DOTUSDT,ALGOUSDT,2h,3,0.5,4,20,-408.16
0,DOTUSDT,ALGOUSDT,2h,2,0.0,3,10,-465.89
30,DOTUSDT,ALGOUSDT,2h,4,0.5,5,10,-497.10
6,DOTUSDT,ALGOUSDT,2h,2,0.5,3,10,-685.71
18,DOTUSDT,ALGOUSDT,2h,3,0.5,4,10,-750.59
5,DOTUSDT,ALGOUSDT,2h,2,0.0,3,60,-1392.90

In [7]:
ETH_ALGO_backtest_df.head()

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
59,ETHUSDT,ALGOUSDT,2h,3,0.5,4,60,456.24
64,ETHUSDT,ALGOUSDT,2h,4,0.0,5,50,141.92
65,ETHUSDT,ALGOUSDT,2h,4,0.0,5,60,49.52
52,ETHUSDT,ALGOUSDT,2h,3,0.0,4,50,-14.48
71,ETHUSDT,ALGOUSDT,2h,4,0.5,5,60,-24.77

In [8]:
ETH_ALGO_backtest_df.tail()

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
38,ETHUSDT,ALGOUSDT,2h,2,0.0,3,30,-592.88
40,ETHUSDT,ALGOUSDT,2h,2,0.0,3,50,-703.78
46,ETHUSDT,ALGOUSDT,2h,2,0.5,3,50,-724.95
41,ETHUSDT,ALGOUSDT,2h,2,0.0,3,60,-748.41
47,ETHUSDT,ALGOUSDT,2h,2,0.5,3,60,-756.72

In [9]:
ADA_ALGO_backtest_df.head()

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
81,ADAUSDT,ALGOUSDT,2h,2,0.5,3,40,-91.42
98,ADAUSDT,ALGOUSDT,2h,4,0.0,5,30,-144.28
97,ADAUSDT,ALGOUSDT,2h,4,0.0,5,20,-189.52
104,ADAUSDT,ALGOUSDT,2h,4,0.5,5,30,-238.52
103,ADAUSDT,ALGOUSDT,2h,4,0.5,5,20,-275.15

In [10]:
ADA_ALGO_backtest_df.tail()

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
85,ADAUSDT,ALGOUSDT,2h,3,0.0,4,20,-716.48
79,ADAUSDT,ALGOUSDT,2h,2,0.5,3,20,-756.15
76,ADAUSDT,ALGOUSDT,2h,2,0.0,3,50,-761.40
73,ADAUSDT,ALGOUSDT,2h,2,0.0,3,20,-792.55
89,ADAUSDT,ALGOUSDT,2h,3,0.0,4,60,-796.79

In [11]:
AVAX_NEAR_backtest_df.head()

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
118,AVAXUSDT,NEARUSDT,2h,2,0.5,3,50,3167.45
117,AVAXUSDT,NEARUSDT,2h,2,0.5,3,40,1125.30
110,AVAXUSDT,NEARUSDT,2h,2,0.0,3,30,851.87
119,AVAXUSDT,NEARUSDT,2h,2,0.5,3,60,769.14
130,AVAXUSDT,NEARUSDT,2h,3,0.5,4,50,564.12

In [12]:
AVAX_NEAR_backtest_df.tail()

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
132,AVAXUSDT,NEARUSDT,2h,4,0.0,5,10,-544.21
138,AVAXUSDT,NEARUSDT,2h,4,0.5,5,10,-568.47
126,AVAXUSDT,NEARUSDT,2h,3,0.5,4,10,-698.00
143,AVAXUSDT,NEARUSDT,2h,4,0.5,5,60,-724.93
120,AVAXUSDT,NEARUSDT,2h,3,0.0,4,10,-895.65

In [13]:
ALGO_ATOM_backtest_df.head()

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
166,ALGOUSDT,ATOMUSDT,2h,3,0.5,4,50,1060.15
159,ALGOUSDT,ATOMUSDT,2h,3,0.0,4,40,790.14
161,ALGOUSDT,ATOMUSDT,2h,3,0.0,4,60,706.23
170,ALGOUSDT,ATOMUSDT,2h,4,0.0,5,30,646.86
155,ALGOUSDT,ATOMUSDT,2h,2,0.5,3,60,588.30

In [14]:
ALGO_ATOM_backtest_df.tail()

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
144,ALGOUSDT,ATOMUSDT,2h,2,0.0,3,10,-633.95
162,ALGOUSDT,ATOMUSDT,2h,3,0.5,4,10,-706.38
174,ALGOUSDT,ATOMUSDT,2h,4,0.5,5,10,-791.64
168,ALGOUSDT,ATOMUSDT,2h,4,0.0,5,10,-853.19
156,ALGOUSDT,ATOMUSDT,2h,3,0.0,4,10,-944.24