In [2]:
import pandas as pd

In [3]:
backtest_path='../../../data/backtest/training/'
backtest_results_df=pd.read_csv('{}backtest_training_1d.csv'.format(backtest_path))

In [6]:
backtest_results_df.sort_values(by='PnL_final',inplace=True,ascending=False)
backtest_results_df

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
87,AVAXUSDT,NEARUSDT,1d,3,0.0,4,40,3112.04
41,ADAUSDT,ALGOUSDT,1d,2,0.0,3,60,2802.12
93,AVAXUSDT,NEARUSDT,1d,3,0.5,4,40,2560.12
50,ADAUSDT,ALGOUSDT,1d,3,0.0,4,30,2206.77
4,DOTUSDT,ALGOUSDT,1d,2,0.0,3,50,1739.63
...,...,...,...,...,...,...,...,...
85,AVAXUSDT,NEARUSDT,1d,3,0.0,4,20,-2987.03
81,AVAXUSDT,NEARUSDT,1d,2,0.5,3,40,-8990.41
75,AVAXUSDT,NEARUSDT,1d,2,0.0,3,40,-10862.15
82,AVAXUSDT,NEARUSDT,1d,2,0.5,3,50,-14307.68
76,AVAXUSDT,NEARUSDT,1d,2,0.0,3,50,-18978.86

In [7]:
DOT_ALGO_backtest_df=backtest_results_df.loc[(backtest_results_df['chosen_symbol']=='DOTUSDT') &(backtest_results_df['compare_symbol']=='ALGOUSDT')]
ADA_ALGO_backtest_df=backtest_results_df.loc[(backtest_results_df['chosen_symbol']=='ADAUSDT') &(backtest_results_df['compare_symbol']=='ALGOUSDT')]
AVAX_NEAR_backtest_df=backtest_results_df.loc[(backtest_results_df['chosen_symbol']=='AVAXUSDT') &(backtest_results_df['compare_symbol']=='NEARUSDT')]
ETH_ALGO_backtest_df=backtest_results_df.loc[(backtest_results_df['chosen_symbol']=='ETHUSDT') &(backtest_results_df['compare_symbol']=='ALGOUSDT')]
ETH_BNB_backtest_df=backtest_results_df.loc[(backtest_results_df['chosen_symbol']=='ETHUSDT') &(backtest_results_df['compare_symbol']=='BNBUSDT')]
ALGO_ATOM_backtest_df=backtest_results_df.loc[(backtest_results_df['chosen_symbol']=='ALGOUSDT') &(backtest_results_df['compare_symbol']=='ATOMUSDT')]
ETH_ADA_backtest_df=backtest_results_df.loc[(backtest_results_df['chosen_symbol']=='ETHUSDT') &(backtest_results_df['compare_symbol']=='ADAUSDT')]
BNB_ALGO_backtest_df=backtest_results_df.loc[(backtest_results_df['chosen_symbol']=='BNBUSDT') &(backtest_results_df['compare_symbol']=='ALGOUSDT')]
ETH_ATOM_backtest_df=backtest_results_df.loc[(backtest_results_df['chosen_symbol']=='ETHUSDT') &(backtest_results_df['compare_symbol']=='ATOMUSDT')]

In [8]:
DOT_ALGO_backtest_df.head(10)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
4,DOTUSDT,ALGOUSDT,1d,2,0.0,3,50,1739.63
10,DOTUSDT,ALGOUSDT,1d,2,0.5,3,50,1390.61
5,DOTUSDT,ALGOUSDT,1d,2,0.0,3,60,1366.17
14,DOTUSDT,ALGOUSDT,1d,3,0.0,4,30,1345.79
20,DOTUSDT,ALGOUSDT,1d,3,0.5,4,30,1037.88
11,DOTUSDT,ALGOUSDT,1d,2,0.5,3,60,851.55
23,DOTUSDT,ALGOUSDT,1d,3,0.5,4,60,834.33
16,DOTUSDT,ALGOUSDT,1d,3,0.0,4,50,571.29
24,DOTUSDT,ALGOUSDT,1d,4,0.0,5,10,489.80
25,DOTUSDT,ALGOUSDT,1d,4,0.0,5,20,440.95

In [9]:
DOT_ALGO_backtest_df.tail(10)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
26,DOTUSDT,ALGOUSDT,1d,4,0.0,5,30,8.63
3,DOTUSDT,ALGOUSDT,1d,2,0.0,3,40,-3.03
1,DOTUSDT,ALGOUSDT,1d,2,0.0,3,20,-109.56
32,DOTUSDT,ALGOUSDT,1d,4,0.5,5,30,-109.74
8,DOTUSDT,ALGOUSDT,1d,2,0.5,3,30,-251.26
18,DOTUSDT,ALGOUSDT,1d,3,0.5,4,10,-261.30
7,DOTUSDT,ALGOUSDT,1d,2,0.5,3,20,-431.12
2,DOTUSDT,ALGOUSDT,1d,2,0.0,3,30,-797.89
6,DOTUSDT,ALGOUSDT,1d,2,0.5,3,10,-818.29
0,DOTUSDT,ALGOUSDT,1d,2,0.0,3,10,-822.15

In [10]:
ADA_ALGO_backtest_df.head(10)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
41,ADAUSDT,ALGOUSDT,1d,2,0.0,3,60,2802.12
50,ADAUSDT,ALGOUSDT,1d,3,0.0,4,30,2206.77
40,ADAUSDT,ALGOUSDT,1d,2,0.0,3,50,1650.16
57,ADAUSDT,ALGOUSDT,1d,3,0.5,4,40,1293.07
52,ADAUSDT,ALGOUSDT,1d,3,0.0,4,50,1179.35
56,ADAUSDT,ALGOUSDT,1d,3,0.5,4,30,1177.80
47,ADAUSDT,ALGOUSDT,1d,2,0.5,3,60,1112.45
51,ADAUSDT,ALGOUSDT,1d,3,0.0,4,40,968.28
58,ADAUSDT,ALGOUSDT,1d,3,0.5,4,50,796.24
61,ADAUSDT,ALGOUSDT,1d,4,0.0,5,20,785.13

In [11]:
ADA_ALGO_backtest_df.tail(10)

,chosen_symbol,compare_symbol,timeframe,threshold,takeprofit,stoploss,period,PnL_final
38,ADAUSDT,ALGOUSDT,1d,2,0.0,3,30,-24.84
44,ADAUSDT,ALGOUSDT,1d,2,0.5,3,30,-429.58
60,ADAUSDT,ALGOUSDT,1d,4,0.0,5,10,-540.89
66,ADAUSDT,ALGOUSDT,1d,4,0.5,5,10,-548.39
43,ADAUSDT,ALGOUSDT,1d,2,0.5,3,20,-590.49
37,ADAUSDT,ALGOUSDT,1d,2,0.0,3,20,-726.33
42,ADAUSDT,ALGOUSDT,1d,2,0.5,3,10,-782.87
54,ADAUSDT,ALGOUSDT,1d,3,0.5,4,10,-808.03
36,ADAUSDT,ALGOUSDT,1d,2,0.0,3,10,-828.49
48,ADAUSDT,ALGOUSDT,1d,3,0.0,4,10,-934.71